<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404 | Weather App!</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/weather.png" />
  </head>
  <body>
    <main>
      {{>header}}
      <p>{{message}}</p>
    </main>
    {{>footer}}
  </body>
</html>
