<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About | Weather App!</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/weather.png" />
  </head>
  <body>
    <main>
      {{>header}}
      <img src="/images/calibey_avatar.jpeg" alt="Nick Calibey" class="portrait" />
    </main>
    {{>footer}}
  </body>
</html>
